/* ROOT */
:root {
    --vermelho: #cc1a1a;
    --white: #f6f1f1;
    --bg: #0a0a0a;
    --border: 0.15rem solid rgb(143, 0, 0);

    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear; 
}
section {
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* BODY */
body {
    background-color: var(--bg);
    font-family: "Special Elite", system-ui;
    color: var(--white);
}

/* EFEITO GRANULADO */
body::before {
    content: '';

    position: fixed;
    inset: 0;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");

    opacity: 0.080;

    pointer-events: none;

    z-index: 9999;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    backdrop-filter: blur(3px);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* LOGO */

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
}
.logo-img{
    width: 40px;
    height: auto;
}

.logo-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.08em;
    color: var(--white);
    text-decoration: none;
  }
  .logo-text span { color: var(--vermelho); font-family: 'Special Elite', cursive; text-transform: uppercase; font-weight: bold; letter-spacing: -1px; }




/* NAVBAR */
.navbar a {
  font-family: "Special Elite", system-ui;
  margin: 0 1rem;
  font-size: 1.4rem;
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--vermelho);
  font-size: 1.5rem;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--vermelho);
  transition: width 0.3s;
}
.navbar a:hover::after { 
  width: 100%; 
}

.back-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    opacity: 0.50;
  }
  .back-link:hover { 
    opacity: 1; 
    color: var(--vermelho);
    font-size: 1.5rem; 
    transition: opacity 0.2s, color 0.2s, font-size 0.2s;
   }

  main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;

  }

/* LAYOUT */
.shell {
    display: flex;

    gap: 2rem;

    padding: 4rem;
}

/* SIDEBAR */
.sidebar {
    width: 300px;
}

.perfil-card {
    border: 1px solid #333;

    padding: 2rem;

    position: sticky;
    top: 100px;
}

/* PERFIL */
.avatar {
    width: 90px;
    height: 90px;

    border-radius: 50%;

    background: var(--vermelho);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;

    font-family: 'Bebas Neue', sans-serif;

    margin-bottom: 2rem;
}

.perfil-nome {
    font-family: 'Bebas Neue', sans-serif;

    font-size: 2.5rem;
}

.perfil-email {
    margin-top: 0.5rem;

    opacity: 0.6;
}

.perfil-desde {
    margin-top: 1rem;

    opacity: 0.8;
}

.divider {
    width: 100%;
    height: 1px;

    background: #333;

    margin: 2rem 0;
}

.dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: var(--vermelho);

    display: inline-block;
}

/* STATS */
.stat-mini-grid {
    display: flex;

    gap: 1rem;
}

.stat-mini {
    flex: 1;

    border: 1px solid #333;

    padding: 1rem;

    text-align: center;
}

.stat-mini-num {
    font-size: 2rem;

    color: var(--vermelho);

    font-family: 'Bebas Neue', sans-serif;
}

.stat-mini-label {
    font-size: 1rem;

    opacity: 0.7;
}

/* CARIMBO */
.carimbo {
    margin-top: 2rem;

    color: var(--vermelho);

    opacity: 0.3;

    font-size: 2rem;

    font-family: 'Bebas Neue', sans-serif;
}

/* CONTENT */
.content {
    flex: 1;
}

/* HERO */
.hero-titulo {
    font-family: 'Bebas Neue', sans-serif;

    font-size: 5rem;

    color: var(--vermelho);
}

.hero-sub {
    opacity: 0.7;

    margin-bottom: 3rem;
}

/* CARDS */
.cards-row {
    display: flex;

    gap: 2rem;

    margin-bottom: 2rem;
}

.card {
    border: 1px solid #333;

    padding: 2rem;

    flex: 1;

    position: relative;
}

.card:hover {
    background: #111;
}

.card-accent {
    width: 100%;
    height: 3px;

    background: var(--vermelho);

    position: absolute;

    top: 0;
    left: 0;
}

.amarelo {
    background: #c6a300;
}

.card-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.card-label {
    color: var(--vermelho);

    font-size: 1rem;

    letter-spacing: 0.2em;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;

    font-size: 3rem;

    margin-bottom: 2rem;
}

/* TAGS */
.tags {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
}

.tags div {
    border: 1px solid var(--vermelho);

    padding: 1rem;
}

/* RECOMENDACOES */
.rec-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 1rem;
}

/* ATIVIDADES */
.atividade-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* FOOTER */
.footer {
  background: var(--grey);
  color: var(--white);
  padding: 2.5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: var(--border);
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.footer-logo span {
  color: var(--vermelho);
}

.footer-desc {
  font-family: 'Special Elite', cursive;
  font-size: 0.90rem;
  opacity: 0.6;
  line-height: 1.4;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-diy {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.8rem;
  color: var(--vermelho);
  opacity: 0.8;
  letter-spacing: 0.15em;
}