/*Esse root servirá como referência de estilo*/
:root {
    --vermelho: #cc1a1a;
    --white: #f6f1f1;
    --bg: #0a0a0a;
    --border: 0.15rem solid rgb(143, 0, 0);
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear; 
}

/* formatção site */
section {
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: var(--bg);
    font-family: "Special Elite", system-ui;
    color: var(--white);
}

/* EFEITO GRANULADO */
  body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
    opacity: 0.080;
    pointer-events: none;
    z-index: 9999;
  } 

/* HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /*Esse var surge como a referência capturada no root*/
    border-bottom: var(--border);
    backdrop-filter: blur(3px);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
}

.logo-img{
    width: 40px;
    height: auto;
}
  .logo-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.08em;
    color: var(--white);
    text-decoration: none;
  }
  .logo-text span { color: var(--vermelho); font-family: 'Special Elite', cursive; text-transform: uppercase; font-weight: bold; letter-spacing: -1px; }

.navbar a {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--vermelho);
  font-size: 1.5rem;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--vermelho);
  transition: width 0.3s;
}
.navbar a:hover::after { 
    width: 100%; 
}

.perfil a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    opacity: 0.50;
    
  }
  .perfil a:hover { 
    opacity: 1; 
    color: var(--vermelho);
    font-size: 1.5rem; 
    transition: opacity 0.2s, color 0.2s, font-size 0.2s;
}

/* DIV IMAGEM */
.home-container1 {
    background: url("../img/banner.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.home-container1 section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.folha {
    background-image: url("../img/folha.jpg");
    background-size: cover;
    background-position: center;
    display: inline-block;
    padding: 3rem 6rem;
    width: 60rem;
    position: relative;
    left: -6rem;
}

.content {
    max-width: 50rem;
    position: relative;
    color: #0a0a0a;
}

/* CONTEUDO DENTRO DA FOLHA */
.content h3 {
    color: #ba0000;
    font-size: 5rem;
    margin-left: 8rem;
    text-transform: uppercase;
}

.content p {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 2rem;
    font-weight: 550;
    margin-left: 8rem;
    text-transform:none; 
}

.botao {
    background: var(--vermelho);
    color: var(--white);
    padding: 1rem 3rem;
    cursor: pointer;
    margin-top: 2rem;
    display: inline-block;
    margin-left: 8rem;
}

/* SECTIONS DE TITULO E SUBTITULO*/
  .section {
    padding: 5rem 4rem;
    position: relative;
}

.section-label {
    font-size: 1rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--vermelho);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.section-label::before {
    content: '//';
    opacity: 0.5;
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 3rem;
}


/* GRADE DIRECIONADORA */
.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    border: 1px solid #333;
}

.feature-cell {
    padding: 2rem;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    position: relative;
    transition: background 0.2s;
}

.feature-cell:hover {
    background: #2a2a2a;
}

.feature-number {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    color: var(--vermelho);
    opacity: 0.4;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.feature-icon {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0.5;
}

.feature-icon img {
    width: 25px;
    height: 25px;
}

.feature-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    margin-bottom: 0.5rem;
}

.feature-desc {
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.7;
    text-transform:none;
}

/* FOOTER */
.footer {
  background: var(--grey);
  color: var(--white);
  padding: 2.5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: var(--border);
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.footer-logo span {
  color: var(--vermelho);
}

.footer-desc {
  font-family: 'Special Elite', cursive;
  font-size: 0.90rem;
  opacity: 0.6;
  line-height: 1.4;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-diy {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.8rem;
  color: var(--vermelho);
  opacity: 0.8;
  letter-spacing: 0.15em;
}